{% extends "base.html" %} {% block title %} Set Patient Appointment {%
endblock%} {% block content %}

<style>
  body {
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(155, 185, 203)
    );
  }
  .header {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 32px;
    color: rgb(29, 51, 89);
  }
  .buttons {
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: white;
    color: rgb(29, 51, 89);
    border-radius: 15px;
  }
  .buttons:hover {
    background-color: rgb(29, 51, 89);
    color: white;
  }
  legend,
  label {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(29, 51, 89);
    font-size: 20px;
  }
  input {
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
    font-size: 18px;
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(29, 51, 89);
    font-style: italic;
  }
</style>

<h1 class="header">PATIENT APPOINTMENT</h1>
<body>
  <form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8">
    <fieldset>
      <legend>Set Up Patient's Appointment</legend>
      <div class="two-cols">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required />
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required /><br />
        <br />
      </div>
      <div class="two-cols">
        <label for="emails">Email Address:</label>
        <input type="email" id="email" name="email" required />
        <label>
          <label for="phone">Phone Number:</label>
          <input type="tel" id="phone" name="phone" required />
        </label>
      </div>
      <br />
      <div class="two-cols">
        <label>
          Date
          <input type="date" name="Appointment request" required />
        </label>
        <br />
        <div class="inline">
          <label for="appt">Choose a Start Time:</label>
          <input
            type="time"
            id="appt"
            name="appt"
            min="09:00"
            max="17:00"
            required
          />
          <label for="appt">Choose a End Time:</label>
          <input
            type="time"
            id="appt"
            name="appt"
            min="10:00"
            max="18:00"
            required
          />
        </div>
      </div>
      <p>Confirmation Requested by</p>
      <div class="inline">
        <label>
          <input
            type="radio"
            name="Confirmation requested by"
            value="email"
            checked
          />
          Email
        </label>
        <label>
          <input type="radio" name="Confirmation requested by" value="phone" />
          Phone Call
        </label>
      </div>
    </fieldset>
    <div>
      <button type="submit" class="buttons">Book Appointment</button>
    </div>
  </form>
</body>

{% endblock %}
